<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <title>Hapi Places</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

<header class="header" style="background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('{{image}}') no-repeat 50% 50%;">
  <h1 class="header__title">{{city}}</h1>
  <h2 class="header__subtitle">{{country}}</h2>
</header>

<table class="table">
  <tr class="table__row">
    <th class="table__cell table__header">STAT</th>
    <th class="table__cell table__header">RATING</th>
    <th class="table__cell table__header table__header--blue">I NEED</th>
  </tr>

  <tr class="table__row">
    <td class="table__cell table__property">COST PER MONTH</td>
    <td class="table__cell table__value">{{#if cost}}{{cost}}{{else}}${{/if}}</td>
    <td class="table__cell table__button-container"><a href='/cheaper' name='living_cost' class="table__button table__button--orange">CHEAPER</a></td>
  </tr>

  <tr class="table__row">
    <td class="table__cell table__property">TEMPERATURE</td>
    <td class="table__cell table__value">{{#if temp}}{{temp}}{{else}}C{{/if}}</td>
    <td class="table__cell table__button-container"><a href='/colder' name='temp_colder' class="table__button table__button--blue">COLDER</a><a href='/warmer' name='temp_warmer' class="table__button table__button--orange">WARMER</a></td>
  </tr>

  <tr class="table__row">
    <td class="table__cell table__property">INTERNET QUALITY</td>
    <td class="table__cell table__value">{{#if internet}}{{internet}}{{else}}{{???}}{{/if}}</td>
    <td class="table__cell table__button-container"><a href='/faster' name='internet' class="table__button table__button--orange">FASTER</a></td>
  </tr>

  <tr class="table__row">
    <td class="table__cell table__property">SAFETY</td>
    <td class="table__cell table__value">{{#if safety}}{{safety}}{{else}}{{???}}{{/if}}</td>
    <td class="table__cell table__button-container"><a href='/cheaper' name='safety' class="table__button table__button--orange">SAFER</a></td>

  </tr>

  <tr class="table__row">
    <td class="table__cell table__property">AVERAGE COFFEE PRICE</td>
    <td class="table__cell table__value">{{#if coffee}}{{coffee}}{{else}}{{???}}{{/if}}</td>
    <td class="table__cell table__button-container"><a href='/cheaper' name='coffee' class="table__button table__button--orange">CHEAPER</a></td>
  </tr>

</table>

<section class="quote__container">
  <a href="{{wiki}}" class="quote" target="_blank">{{#if description}}{{description}}{{else}}{{description}}{{/if}}</a>
</section>

<button class="callout">Click To Book Flights</button>
<script src='js/main.js'></script>
</body>
